{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "jsx-filename-extension": [0],
    "no-tabs": 0,
    "react/jsx-indent": [2, 'tab'],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-indent-props": 0,
    "jsx-quotes": ["error", "prefer-single"],
    "comma-dangle": 0,
    "indent": ["error", "tab", { "SwitchCase": 1 }],
    "jsx-a11y/no-marquee": 0,
    "no-shadow": 0,
    "react/require-default-props": 0,
    "no-underscore-dangle": 0,
    "linebreak-style": 0,
    "no-eval": 0
  },
  "globals": {
    "window": true,
    "document": true
  }
}