.container {
  .centerText {
    width: 500px;
    margin: 20px auto;
  }
  .tableContainer {
    width: 600px;
    .columnCenterText {
      text-align: center;
    }
  }
}

.icon {
  max-width: 50px;
  max-height: 50px;
}